body {
    margin: 0;
    padding: 5%;
    box-sizing: border-box;
}

h4, h5 {
    margin: 0;
    font-weight: normal;
}

.table { border-collapse: collapse; }

.table td, .table th,
.empty td {
    border: 3px solid black;
}

thead th{
    height: 25px;
    font-size: 18px;
}
thead th:nth-child(1),
thead th:nth-child(2){
    background-color: #deb887;
}

thead th:nth-child(1){
    width: 10px;
    background-color: #deb887;
}
thead th:nth-child(2) div{
    width: 175px;
    text-align: center;
}
thead th:not(:nth-child(1), :nth-child(2)) {
    background-color: #ffff00;
}

.shrink {
    width: 15px;
    text-align: center;
}

.empty td { height: 20px; }

.panel { font-size: 12px; }

.cek { text-align: center; }

.table-data-8 .cek {
    width: 20px;
    text-align: left;
    box-sizing: border-box;
    background-color: #adff2f;
}

.cek div {
    word-wrap: break-word;
    overflow: hidden;
    width: 50px;
    font-size: 13px;
    height: 100%;
}

.cek .box {
    padding: 5px;
    font-size: 10px;
}

.normal { font-weight: normal; }

.left { text-align: left; }

.isi-catatan {
    position: relative;
    bottom: 35px;
    float: left;
    font-weight: normal;
}

footer { margin: 10px 5px; }
